.shop-category {
    width: 100%;
    overflow: hidden;
}

.shopcategory-banner-container {
    display: flex;
    justify-content: center;
    margin: 30px auto;
    width: 100%;
}

.shopcategory-banner {
    width: 100%;
    height: auto;
}

.shopcategory-indexSort {
    display: flex;
    justify-content: space-between;
    margin: 0 170px;
    align-items: center;
}

.shopcategory-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 20px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

@media (max-width: 1280px) {
    .shopcategory-banner {
        width: 100%;
    }

    .shopcategory-indexSort {
        width: 90%;
        margin: auto;
    }

    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 12px;
    }

    .shopcategory-indexSort p {
        font-size: 12px;
    }

    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }

    .shopcategory-products .item {
        margin: auto;
    }

    .shopcategory-loadmore {
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .shopcategory-banner {
        width: 100%;
    }

    .shopcategory-indexSort {
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin: auto;
    }

    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 10px;
    }

    .shopcategory-indexSort p {
        font-size: 10px;
    }

    .shopcategory-products {
        grid-template-columns: 1fr 1fr 1fr;
        width: 90%;
        margin: 10px auto;
        row-gap: 30px;
        column-gap: 15px;
    }

    .shopcategory-loadmore {
        margin: 80px auto;
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .shopcategory-banner {
        width: 100%;
    }

    .shopcategory-indexSort {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin: auto;
    }

    .shopcategory-sort {
        padding: 5px 10px;
        font-size: 10px;
    }

    .shopcategory-indexSort p {
        font-size: 10px;
    }

    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 10px auto;
        row-gap: 20px;
        column-gap: 10px;
    }

    .shopcategory-loadmore {
        margin: 60px auto;
        width: 150px;
        height: 45px;
        font-size: 12px;
    }
}
